body, #preso, .slide {
  background-color: black;
  color: #9999ee;
  border: none;
  margin: none;
}

.commandline code.command {
  color: green;
}

.commandline code.result {
  color: yellow;
}

.attribution {
  margin-top: 2em;
  text-align: right;
}

.attribution a {
  text-decoration: none;
  font-size: smaller;
  color: #ccc;
}