body, #preso, .slide {
  background-color: black;
  color: #9999ee;
  border: none;
  margin: none;
}

a {
  color: #9999ee;  
}

.commandline code.command {
  color: green;
}

.commandline code.result {
  color: yellow;
}

.attribution {
  margin-top: 2em;
  text-align: right;
}

.attribution a {
  text-decoration: none;
  font-size: smaller;
  color: #ccc;
}

.sm pre.sh_ruby {
  font-size: 140%;
}

.tiny pre.sh_ruby {
  font-size: 1%;
}

pre.sh_sourceCode {
  background-color: black;
  color: #afa;
}

pre.sh_sourceCode .sh_symbol {
  color: red;
}

pre.sh_sourceCode .sh_comment {
  color: #eee;
}

pre.sh_sourceCode .sh_type {
  color: #bbf;
}

pre.sh_sourceCode .sh_keyword {
  color: yellow;
}

pre.sh_sourceCode .sh_string {
  color: #faa;
}

pre.sh_sourceCode .sh_preproc {
  color: orange;
}

pre.sh_sourceCode .sh_oldfile {
  color: orange;
}

pre.sh_sourceCode .sh_newfile {
  color: yellow;
}

pre.sh_sourceCode .sh_difflines {
  color: white;
}



.code pre.sh_yml code {
  color: yellow;
}